<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%block name="HTML_TITLE"> flydoggy </%block> </title>
    <%block name="CSS_LINK"> 
    	<link href="/static/css/common.css" rel="stylesheet" type="text/css" />
    </%block>
    <%block name="CSS_DEF" />
	<%block name="JS_LINK"> 
    	<script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    </%block>
    <%block name="JS_DEF" />
</head>
<body>
	<div id="header"></div>
	<div id="main"><%block name="MAIN" /></div>
	<div id="footer"></div>
</body>
</html>