<%inherit file="base.html"/>

<%block name="HTML_TITLE">Login</%block>
<%block name="CSS"> 
    ${parent.CSS()}
    <link href="/static/css/login.css" rel="stylesheet" type="text/css" />
</%block>
<%block name="MAIN">

<form action="/login" method="post">
    <label for="u" >username</label>
    <input type="text" id="u" name="u" />
    <label for="p" >password</label>
    <input type="password" id="p" name="p" />
    <input type="submit" id="login" value="Login" />
</form>

</%block> 
